[app]
env = "dev" # dev | beta | prod
debug = true
port = 8000
default_pass = 123

[db]

	 [db.default]
     driver = "mysql"
     dsn = "username:password@tcp(localhost:3306)/dbname?timeout=10s&charset=utf8mb4&collation=utf8mb4_general_ci&parseTime=True&loc=Local"
     max_open_conns = 20
     max_idle_conns = 10
	 conn_max_lifetime = 60

[log]

    [log.default]
    path = "logs/app.log"
    max_size = 500
    max_age = 0
    max_backups = 0
    compress = true

[session]
secret = "N0awmAuS2OziVFu^9!*0LY7MeCRgQ&z0"