{{ define "nav" }}
<el-aside>
    <el-menu default-active="{{ .menu }}" background-color="#324057" text-color="#BFCBD9" active-text-color="#409EFF" :collapse="collapse">
        <el-menu-item index="0">
            <a href="/"><i class="fas fa-home" aria-hidden="true"></i> <span slot="title">首页</span></a>
        </el-menu-item>
        <el-menu-item index="9">
            <a href="/users"><i class="fas fa-users" aria-hidden="true"></i> <span slot="title">用户</span></a>
        </el-menu-item>
        <el-submenu index="1">
            <template slot="title">
                <i class="fas fa-envelope" aria-hidden="true"></i> <span slot="title">导航一</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="1-1"><a href="/">选项1</a></el-menu-item>
                <el-menu-item index="1-2"><a href="/">选项2</a></el-menu-item>
                <el-menu-item index="1-3"><a href="/">选项3</a></el-menu-item>
                <el-menu-item index="1-4"><a href="/">选项4</a></el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="2">
            <template slot="title">
                <i class="fas fa-desktop" aria-hidden="true"></i> <span slot="title">导航二</span>
            </template>
            <el-menu-item-group>
                <el-menu-item index="2-1"><a href="/">选项1</a></el-menu-item>
                <el-menu-item index="2-2"><a href="/">选项2</a></el-menu-item>
                <el-menu-item index="2-3"><a href="/">选项3</a></el-menu-item>
                <el-menu-item index="2-4"><a href="/">选项4</a></el-menu-item>
            </el-menu-item-group>
        </el-submenu>
    </el-menu>
</el-aside>
{{ end }}