{{ define "normal" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

    <title>{{ .title }}</title>

	<link type="text/css" href="/assets/lib/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="/assets/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
    <link type="text/css" href="/assets/lib/element-ui/index.css" rel="stylesheet"/>
    <link type="text/css" href="/assets/css/common.css" rel="stylesheet">
	{{ template "css" . }}
</head>
<body>
	<canvas id="canvas" class="canvas" width="0" height="0"></canvas>
	<div class="container" id="app" v-loading.fullscreen="loading">
		{{ template "content" . }}
	</div>

    <!-- Mainly scripts -->
    <script type="text/javascript" src="/assets/lib/vue.min.js"></script>
    <script type="text/javascript" src="/assets/lib/element-ui/index.js"></script>
    <script type="text/javascript" src="/assets/lib/axios/axios.min.js"></script>
	<!-- Common scripts -->
	<script type="text/javascript">
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
    </script>
	{{ template "js" . }}
</body>
</html>
{{ end }}