{{ define "add" }}
<el-dialog :visible.sync="dialog.add" fullscreen>
    <div class="row">
        <div class="col-lg-4 m-auto">
            <div class="card mt-5">
                <div class="card-header bg-white text-center text-success">
                    <i class="fa fa-user" aria-hidden="true"></i> 添加用户
                </div>
                <div class="card-body pl-5 pr-5">
                    <el-form label-position="top">
                        <el-form-item label="用户名">
                            <el-input v-model="user.name" placeholder="用户名"></el-input>
                        </el-form-item>
                        <el-form-item label="邮箱">
                            <el-input v-model="user.email" placeholder="邮箱"></el-input>
                        </el-form-item>
                        <el-form-item label="角色">
                            <el-select v-model="user.role" filterable placeholder="请选择角色">
                                <el-option v-for="item in roles" :key="item.id" :label="item.name" :value="item.id"></el-option>
                            </el-select>
                        </el-form-item>
                        <div class="text-center mt-5">
                            <el-button @click="dialog.add = false">取消</el-button>
                            <el-button type="primary" @click="submit">提交</el-button>
                        </div>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</el-dialog>
{{ end }}