{{ define "css" }}{{ end }}

{{ define "breadcrumb" }}{{ end }}

{{ define "content" }}
<div class="alert alert-success" role="alert">
    <i class="fa fa-smile-o" aria-hidden="true"></i> welcome to goadmin
</div>
<ul class="list-group">
    <li class="list-group-item text-success"><i class="fa fa-desktop" aria-hidden="true"> 服务器信息</i></li>
    <li class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> 操作系统 &nbsp;&nbsp;&nbsp;&nbsp;<code>{{ .os }}</code></li>
    <li class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> CPU架构 &nbsp;&nbsp;&nbsp;&nbsp;<code>{{ .arch }}</code></li>
    <li class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> CPU核数 &nbsp;&nbsp;&nbsp;&nbsp;<code>{{ .cpu }}</code></li>
    <li class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Go版本 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>{{ .go }}</code></li>
    <li class="list-group-item"><i class="fa fa-hand-o-right" aria-hidden="true"></i> 程序版本 &nbsp;&nbsp;&nbsp;&nbsp;<code>{{ .version }}</code></li>
</ul>
{{ end }}

{{ define "js" }}
<script type="text/javascript" src="/assets/js/home.js?v={{ .version }}"></script>
{{ end }}

{{ define "home" }}
    {{ template "main" . }}
{{ end }}