{{ define "css" }}
<link type="text/css" href="/assets/css/password.css?v={{ .version }}" rel="stylesheet"/>
{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card password-card">
            <div class="card-header bg-white text-center text-success">
                <i class="fa fa-lock" aria-hidden="true"></i> 修改密码
            </div>
            <div class="card-body pl-5 pr-5">
                <form>
                    <div class="form-group">
                        <el-input type="password" v-model="form.password" placeholder="新密码"></el-input>
                    </div>
                    <div class="form-group">
                        <el-input type="password" v-model="form.confirm" placeholder="确认密码"></el-input>
                    </div>

                    <div class="text-center mt-4">
                        <el-button @click="cancel">取消</el-button>
                        <el-button type="primary" @click="submit">确认</el-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
<script type="text/javascript" src="/assets/js/password.js?v={{ .version }}"></script>
{{ end }}

 {{ define "password" }}
	{{ template "normal" . }}
 {{ end }}